<h3 class="text-center">Heroes de Marvel y DC</h3>
<div class="card-columns mt-3 animated fadeIn">
    <div class="card" *ngFor="let heroe of HeroeService.Heroes; let i = index;">
      <img class="card-img-top" [src]="heroe.img" alt="imagen heroe">
      <div class="card-body">
        <h5 class="card-title">{{ heroe.nombre }} </h5>
        <p class="card-text">{{ heroe.bio  }}</p>
        <p class="card-text text-center"><small class="text-muted">{{ heroe.aparicion }}</small></p>
        <button class="btn btn-primary btn-block" (click)="verHeroe( i )">Ver Heroe</button>
      </div>
    </div>

</div>
