<div class="row">

    <div class="col-4">
        <img [src]="heroe.img" alt="imagen heroe" class="img-fluid">
        <button class="btn btn-outline-danger btn-block mt-3" routerLink="/heroes">Regresar</button>
    </div>
    <div class="col-8">
        <h3>{{ heroe.nombre }} {{ heroe.aparicion }} </h3>
        <hr>
        <p>{{ heroe.bio }}</p>
       <img  *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel-logo.png" alt="logo" width="150px">
       <img *ngIf="heroe.casa == 'DC'" src="assets/img/dc-logo.png" alt="logo" width="150px">
    </div>

</div>
